<template>
	<div>
		<div class="container">
			<h1>
				Hi I am Dummy component
			</h1>
		</div>
	</div>
</template>

<script src="./DummyComponent.ts" lang="ts"></script>
<style src="./DummyComponent.scss" lang="scss" scoped></style>
