@import 'common';

@keyframes cookie-banner-slide-up {
	0% {
		transform: translateX(-50%) translateY(100%);
	}

	100% {
		transform: translateX(-50%) translateY(0);
	}
}

.cookie-banner {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%) translateY(100%);
	padding: 10px 15px;
	border: 1px solid #eee;
	background-color: rgba(255, 255, 255, 1);
	opacity: 0.925;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 0.875rem;
	line-height: 1.4;
	text-align: center;
	transition: all 0.5s ease-in-out;
	animation: cookie-banner-slide-up 0.3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;

	@include media-breakpoint-up(md) {
		padding-left: 21px;
		width: auto;
		text-align: left;
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1.35;
	}

	&:hover {
		opacity: 1;
	}

	&.cookie-leave-active {
		opacity: 0;
	}

	.copy {
		a {
			font-weight: $font-weight-normal;
		}
	}

	.buttons {
		margin-top: 5px;
		text-align: center;

		@include media-breakpoint-up(md) {
			margin-top: 0;
			margin-left: 15px;
		}

		.btn {
			font-size: 0.875rem;
			font-weight: $font-weight-semibold;
			line-height: inherit;

			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
			}
		}
	}
}
