<template>
	<transition name="cookie">
		<div v-if="visible" class="cookie-banner">
			<div class="copy" v-html="$t('components.cookie.copy')"></div>
			<div class="buttons">
				<button class="btn btn-cookie" @click="accept()">
					{{ $t('components.cookie.button') }}
				</button>
			</div>
		</div>
	</transition>
</template>

<script src="./CookieBanner.ts" lang="ts"></script>
<style src="./CookieBanner.scss" lang="scss" scoped></style>
