.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: translateY(-5px);
}


.appear-enter-active {
	transition: opacity 0.5s ease;
}

.appear-leave-active {
	transition: none;
	display: none;
}

.appear-enter-from,
.appear-leave-to {
	opacity: 0;
	transform: translateY(-5px);
}

.fade-up-enter-active,
.fade-up-leave-active {
	transition: all 1s ease 1s;
}

.fade-up-enter-from,
.fade-up-leave-to {
	// opacity: 0;
	transform: translateY(100px);
}

.fade-up-enter-to {
	transform: translateY(0);
	// opacity: 1;
}

.router-fade-enter-active,
.router-fade-leave-active {
	transition: opacity 0.3s ease-out;
}

.router-fade-enter-from,
.router-fade-leave-to {
	opacity: 0.1;
}

.slide-fade-enter-active {
	transition: all 0.3s ease;
}

.slide-fade-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateY(-10px);
	opacity: 0;
}

// ANIMATIONS
.slideIn-enter-active {
	animation: slide-in 250ms;
}

.slideIn-leave-active {
	animation: slide-in 150ms reverse;
}

.slideDown-enter-active {
	animation: slide-down 350ms;
}

.slideDown-leave-active {
	animation: slide-down 350ms reverse;
}

.mobileNav-enter-active {
	animation: mobile-nav-slide-down 350ms;
}

.mobileNav-leave-active {
	animation: mobile-nav-slide-down 350ms reverse;
}

.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes slide-in {
	0% {
		transform: translateY(5px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes mobile-nav-slide-down {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 500px;
	}
}
