// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

//////////
// GRID //
//////////
$grid-gutter-width: 30px; // default: 30

$grid-breakpoints: (
	// defaults:
	xs: 0,
	// 0
	sm: 576px,
	// 576
	md: 768px,
	// 768
	lg: 992px,
	// 992
	xl: 1200px,
	// 1200
	xxl: 1366px,
	// 1400
	xxxl: 1500px // -
);

$container-max-widths: (
	// defaults:
	sm: 540px,
	// 540
	md: 720px,
	// 720
	lg: 960px,
	// 960
	xl: 1140px,
	// 1140
	xxl: 1320px,
	// 1320
	xxxl: 1440px // -
);

// MacBook Air 13", "more space" scaling
$wrapper: 1680px;

////////////
// COLORS //
////////////

// colors
$color-main: #46bc96;
$color-main-bg: #30384d;
$color-purple-primary: #5243ff;
$color-purple-dark: #29235c;
$color-pink-primary: #ffa0a0;
$color-blue-primary: #23379b;
$color-grey-primary: #d8d8d8;
$color-grey-secondary: #9e9e9e;
$color-green-primary: #19645a;
$color-blue-secondary: #314ac7;
$color-orange-primary: #ff6300;
$color-warning: #eb5f41;
$color-error: #ff5858;
$color-bosch-blue-primary: #006ead;
$color-bosch-red-primary: #c51d2a;

// defaults
$text-color: #000;
$background-color: $color-main;

///////////
// FONTS //
///////////
$font-family-primary: 'Bosch', sans-serif;
$font-family-headline: "Bosch", sans-serif;

// PARAGRAPHS
$font-p-normal: 1rem;
$font-p-small: 0.875rem;
$font-p-small__mobile: 0.95rem;
$font-p-big: 1.25rem;

// HEADERS
$font-size-h1: 3.125rem;
$font-size-h1__mobile: 1.875rem;
$font-size-h2: 5rem;
$font-size-h2__mobile: 3rem;
$font-size-h3: 2.5rem;
$font-size-h3__mobile: 2rem;
$font-size-h4: 1.625rem;
$font-size-h4__mobile: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h5__mobile: 1rem;

$font-size-p-big: 1.875rem;
$font-size-p-big__mobile: 1.25;

// LINE-HEIGHTS
$line-height-headline: 1.1;
$line-height-subtitle: 1.6;

// FONT-WEIGHTS
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

/////////////
// BUTTONS //
/////////////
// $btn-border-radius: 0;

/////////////////
// TRANSITIONS //
/////////////////
$transition-all-default: all 0.3s ease-in;

$vs-border-color: #d8d8d8;
$vs-border-radius: 8px;
$vs-component-line-height: 1.5;
