<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const modalVisible = ref<boolean>(true);
const emits = defineEmits(['showModal', 'afterClose', 'afterDeleteConfirm']);

const closing = () => {
	setTimeout(() => {
		emits('showModal', false);
		emits('afterClose');
	}, 500);
};

const close = () => {
	modalVisible.value = false;
	closing();
};


</script>
<template>
	<div class="message-modal">
		<div @click="close()" class="backdrop"></div>
		<div class="message-modal-body">
			<div>
				<slot></slot>
			</div>
			<div class="message-modal-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 mx-auto">
							<button @click="close()" class="btn btn-blue">
								Ok
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style src="./MessageModal.scss" lang="scss"></style>
