@import 'common';

.message-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 13;

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.3);
	}

	.message-modal-body {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		min-height: 20px;
		background-color: #fff;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;

		.trash {
			margin-bottom: 20px;
			text-align: center;

			img {
				width: 60px;
				margin-bottom: 0;
			}
		}
	}

	h3 {
		text-align: center;
		margin-bottom: 30px;
	}

	.message-modal-footer {

		button {
			display: block;
			width: 100%;
		}
	}
}
