@import 'common';

.center {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 260px);

	@include media-breakpoint-up(lg) {
		min-height: calc(100vh - 430px);
	}

	.card {
		margin: 0 auto;
		max-width: 600px;
		padding: 20px;

		.image-container {
			margin-bottom: 20px;
			cursor: pointer;

			.card-img-top {
				width: 100%;
			}
		}
	}
}
