<script setup lang="ts">
import { ref, computed } from 'vue';
import DataService from '/@/service/DataService';

const color = ref<string>('#fff');
const randomWord = ref<string>('');
const hidePassword = ref<boolean>(false);

const genereteColor = ((): string => {
	return '#' + Math.floor(Math.random() * 16777215).toString(16);
});

const changeColor = (): void => {
	color.value = genereteColor();
};

const getRandomWord = (): void => {
	DataService.random.getRandomWord()
		.then((res: any) => {
			randomWord.value = res.data[0];
		});
};

const onCardClick = (): void => {
	changeColor();
	getRandomWord();
};

const hiddenPassword = computed(() => {
	return Array(randomWord.value.length).fill('*').join('');
});


getRandomWord();

</script>

<template>
	<div class="page center">
		<div class="container">
			<div
				:style="{ 'background-color': color }" class="card">
				<div class="image-container">
					<img
						@click="onCardClick()"
						class="card-img-top"
						src="/@/assets/img/general/hatvan.jpg">
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Hatvan – Robert Bosch Elektronika Kft
					</h5>
					<p class="card-text">
						<strong>Random jelszó</strong>:
						<span v-if="!hidePassword">{{ randomWord }}</span>
						<span v-if="hidePassword">{{ hiddenPassword }}</span>
					</p>
					<button @click="hidePassword = !hidePassword" class="btn btn-blue d-block w-100">
						Jelszó {{ hidePassword ? 'megjelenítés' : 'elrejtés' }}
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style src="./Center.scss" lang="scss" scoped>
</style>
