<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const modalVisible = ref<boolean>(true);
const emits = defineEmits(['showModal', 'afterClose', 'afterDeleteConfirm']);

const closing = () => {
	setTimeout(() => {
		emits('showModal', false);
		emits('afterClose');
	}, 500);
};

const submitting = () => {
	setTimeout(() => {
		emits('showModal', false);
		emits('afterDeleteConfirm');
	}, 500);
};

const close = () => {
	modalVisible.value = false;
	closing();
};

const submit = () => {
	modalVisible.value = false;
	submitting();
};

</script>
<template>
	<div class="delete-confirm-modal">
		<div @click="close()" class="backdrop"></div>
		<div class="delete-confirm-modal-body">
			<div>
				<slot></slot>
				<div class="trash">
					<img class="trash" src="/@/assets/img/icons/trash.svg" alt="">
				</div>
				<h3>Biztosan törlöd a gyártást?</h3>
			</div>
			<div class="delete-confirm-modal-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<button @click="close()" class="btn btn-blue">
								Bezár
							</button>
						</div>
						<div class="col-lg-6">
							<button @click="submit()" class="btn btn-red">
								Törlés
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style src="./DeleteConfirmModal.scss" lang="scss"></style>
