@import 'common';

.delete-confirm-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 13;

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.3);
	}

	.delete-confirm-modal-body {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		min-height: 300px;
		background-color: #fff;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 5px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-image: url('/src/assets/img/general/header-decoration.svg');
			z-index: 11;
		}

		.trash {
			margin-bottom: 20px;
			text-align: center;

			img {
				width: 60px;
				margin-bottom: 0;
			}
		}
	}

	h3 {
		text-align: center;
		margin-bottom: 30px;
	}

	.delete-confirm-modal-footer {

		button {
			display: block;
			width: 100%;
		}
	}
}
