<template>
	<div class="not-found my-5" data-response-code="404">
		<div class="container text-center">
			<!-- <img class="mb-4" src="/@/assets/img/general/404.svg" alt> -->
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<h1 class="my-4">
						{{ $t('pages.notFound.title') }}
					</h1>
					<p class="mb-4">
						{{ $t('pages.notFound.subtitle') }}
					</p>
					<router-link to="/" class="btn btn-primary">
						{{ $t('general.backToHome') }}
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script src="./NotFound.ts" lang="ts"></script>
<style src="./NotFound.scss" lang="scss" scoped></style>
