<template>
	<app>
		<Header />
		<main>
			<router-view v-slot="{ Component }">
				<transition name="router-fade">
					<div :key="$route.name">
						<component :is="Component" />
					</div>
				</transition>
			</router-view>
		</main>
		<transition name="fade">
			<Footer v-if="footerVisible" />
		</transition>
	</app>
</template>

<script src="./App.ts" lang="ts"></script>
<style src="./App.scss" lang="scss"></style>
