@import 'common';

.home {

	h1 {
		margin-bottom: 40px;
	}

	h5 {
		font-weight: $font-weight-normal;
	}

	.select {
		margin-bottom: 20px;
	}

	table {
		margin: 0 auto;
		width: 100%;

		td, th {
			padding: 5px 10px;
		}

		.table-head {
			background-color: #005691;
			background-image: linear-gradient(to right,#005691 10%,#008ecf 90%);
			color: #fff;

			td {
				padding: 10px 15px;
			}
		}

		.td-cell {
			background-color: #f9f9f9;
			&:nth-of-type(even) {
				background-color: #ccc;
			}
		}

		.delete-cell {
			text-align: center;
			cursor: pointer;
		}
	}
}
