<script setup lang="ts">
import { ref, computed } from 'vue';
import DataService from '/@/service/DataService';
import { PCB } from '/@/types/types';

import MessageModal from '/@/components/Modals/MessageModal/MessageModal.vue';
import DeleteConfirmModal from '/@/components/Modals/DeleteConfirmModal/DeleteConfirmModal.vue';
import { onEnter, onBeforeEnter, onLeave } from './animations';

const selected = ref();
const productions = ref<PCB[]>([]);
const showMessageModal = ref<boolean>(false);
const showDeleteConfirmModal = ref<boolean>(false);
const candidateForDelete = ref<number>();
const messageModalContent = ref<string>('');


const fetchProduction = () => {
	DataService.production.getProductions()
		.then((data) => {
			productions.value = data.data;
		});
};

const selectOptions = computed(() => {
	const set = new Set(productions.value.map(item => item.pcb_id));

	return [...set].sort((a, b) => a - b);
});

const filteredProductions = computed(() => {
	return selected.value ? productions.value.filter((item: PCB) => item.pcb_id === selected.value) : productions.value;
});

const onDeleteClick = (item: PCB) => {
	showDeleteConfirmModal.value = true;
	candidateForDelete.value = item.id;
};

const deleteProduction = () => {
	const payload = {
		id: candidateForDelete.value,
	};

	DataService.production.deleteProduction(payload)
		.then((res) => {
			console.log(res);
			const id = res.data.id;
			showMessageModal;

			messageModalContent.value = `<h3>A <strong>${id}</strong> azonosítószámú gyártás törölve</h3>`;

			showMessageModal.value = true;
			fetchProduction();
		});
};


fetchProduction();


</script>

<template>
	<div class="home page productions">
		<div class="container">
			<h1>High-tech #LikeABosch</h1>
			<div class="select">
				<h5>Szűrés PCB_ID alapján:</h5>
				<v-select placeholder="PCB_ID" v-model="selected" :options="selectOptions" />
			</div>

			<div class="table-responsive">
				<table id="productions-table">
					<tr class="table-head">
						<th>ID</th>
						<th>PCB_ID</th>
						<th>Mennyiség</th>
						<th>Gyártás kezdése</th>
						<th>Gyártás befejezése</th>
						<th class="text-center">
							Törlés
						</th>
					</tr>
					<TransitionGroup :css="false" @before-enter="onBeforeEnter" @enter="onEnter" @leave="onLeave">
						<tr class="td-cell" v-for="(production, index) in filteredProductions" :data-index="index"
							:key="production.id">
							<td>{{ production.id }}</td>
							<td>{{ production.pcb_id }}</td>
							<td>{{ production.quantity }}</td>
							<td>{{ production.startDate }}</td>
							<td>{{ production.endDate }}</td>
							<td>
								<div @click="onDeleteClick(production)" class="delete-cell">
									<img src="/@/assets/img/icons/trash.svg" alt="">
								</div>
							</td>
						</tr>
					</TransitionGroup>
				</table>
			</div>
		</div>

		<Transition name="fade">
			<DeleteConfirmModal v-if="showDeleteConfirmModal"
				@after-delete-confirm="deleteProduction(); showDeleteConfirmModal = false"
				@after-close="showDeleteConfirmModal = false">
			</DeleteConfirmModal>
		</Transition>

		<Transition name="fade">
			<MessageModal v-if="showMessageModal" @after-delete-confirm="deleteProduction()"
				@after-close="showMessageModal = false">
				<div v-html="messageModalContent"></div>
			</MessageModal>
		</Transition>
	</div>
</template>

<style src="./Home.scss" lang="scss" scoped>
</style>
