@import 'common';

footer {
	position: relative;
	background-color: #fff;
	padding: 50px 0;

	@include media-breakpoint-up(lg) {
		padding: 50px 0;
	}

	.decoration-line {
		display: flex;
		align-items: center;
		height: 50px;
		width: 100%;
		background-color: #eff1f2;

		@include media-breakpoint-up(lg) {
			height: 130px;
		}
	}

	h5 {
		color: #000;
		margin-bottom: 0;
		font-size: 1.5rem;
		font-weight: $font-weight-normal;

		@include media-breakpoint-up(lg) {
			font-size: 2rem;
		}
	}
}
