<template>
	<footer>
		<div class="decoration-line">
			<div class="container">
				<h5>Életre tervezve</h5>
			</div>
		</div>
	</footer>
</template>

<script src="./Footer.ts" lang="ts"></script>
<style src="./Footer.scss" lang="scss" scoped></style>
