<template>
	<header :class="{ open: mobileNavigationOpen }">
		<div>
			<div class="container position-relative">
				<router-link to="/" class="logo">
					<img src="/@/assets/img/general/bosch-logo.svg" alt="">
				</router-link>
				<nav>
					<a :class="{ 'open' : mobileNavigationOpen }" @click="toggleMobileNavigation()" class="d-lg-none hamburger">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<ul>
						<li>
							<router-link to="/">
								Productions
							</router-link>
						</li>
						<li>
							<router-link to="/center">
								Center
							</router-link>
						</li>
						<li>
							<router-link to="/about">
								About
							</router-link>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<transition name="mobileNav">
			<div v-if="mobileNavigationOpen" :class="{ open: mobileNavigationOpen }" class="mobile-navigation">
				<div class="content">
					<div class="container">
						<ul>
							<li>
								<router-link to="/">
									Productions
								</router-link>
							</li>
							<li>
								<router-link to="/center">
									Center
								</router-link>
							</li>
							<li>
								<router-link to="/about">
									About
								</router-link>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</transition>
	</header>
</template>

<script src="./Header.ts" lang="ts"></script>
<style src="./Header.scss" lang="scss" scoped></style>
