@import 'common';

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-image: url('/src/assets/img/general/header-decoration.svg');
		z-index: 11;
	}

	@include media-breakpoint-up(lg) {
		height: 100px;
	}

	.container {
		height: 100%;
	}

	> div:first-of-type {
		position: relative;
		background-color: #fff;
		z-index: 10;
		height: 100%;
	}

	.logo {
		position: absolute;
		background-color: #fff;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);

		@include media-breakpoint-up(md) {
			left: 15px;
		}

		img {
			width: 20vw;

			@include media-breakpoint-up(sm) {
				width: auto;
				max-width: 140px;
			}
		}
	}

	nav {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		margin-top: 6px;

		ul {
			display: none;
			margin: 0;
			padding: 0;

			@include media-breakpoint-up(lg) {
				display: flex;
				margin: 0 0 0 auto;
			}

			li {
				list-style: none;
				padding: 0 15px;

				a {
					color: #000 !important;
					text-decoration: none;
					// font-weight: $font-weight-bold;
					cursor: pointer;
				}
			}
		}
	}

	.purchase-btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.hamburger {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 50px;
		height: 60px;
		border: 0 solid #ececec;
		margin-left: auto;

		span:nth-of-type(1) {
			transform-origin: left;
		}

		span:nth-of-type(3) {
			transform-origin: right;
		}

		&.open {
			@include media-breakpoint-up(lg) {
				border-width: 1px;
				border-left: none;
			}

			span {
				background-color: #000;
			}

			span:nth-of-type(1) {
				transform: rotate(45deg) translate(2.5px, -7px);
			}

			span:nth-of-type(2) {
				transform: rotate(-45deg);
				transition: all 0.4s;
			}

			span:nth-of-type(3) {
				transition: all 0.4s;
				transform: rotate(45deg) translate(-1.5px, 4.2px);
			}
		}

		span {
			width: 36px;
			height: 2px;
			margin: 4px 0;
			background-color: #000;
			border-radius: 12px;
			transition: all 0.4s;
		}
	}

	.mobile-navigation {
		display: flex;
		position: fixed;
		flex-direction: column;
		justify-content: space-between;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100vh - 60px);
		height: calc(100 * var(--vh) - 60px);
		background-color: #fff;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		.content {
			padding-top: 5px;
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			max-height: 100%;
			overflow: scroll;

			.container {
				display: flex;
				flex: 1 0 auto;
				flex-direction: column;
				justify-content: center;

				ul {
					li {
						list-style-type: none;
						text-align: center;
						padding: 15px 0;

						a {
							color: #000;
							text-decoration: none;
							font-weight: $font-weight-bold;
							font-size: $font-p-big;
						}
					}
				}
			}

			.nav-page {
				position: relative;
				animation: 0.5s fadeUp;

				&.explore {
					.main-points {
						margin-top: -30px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
