<script setup lang="ts"></script>

<template>
	<div class="page about">
		<div class="container">
			<div class="font-italic mb-2">
				created by:
			</div>
			<h3>Borkesz Máté</h3>
			<div class="mb-2">
				<a href="mailto:borkeszmate@gmail.com">borkeszmate@gmail.com</a>
			</div>
			<div>
				<a target="_blank" href="https://borkeszmate.hu">borkeszmate.hu</a>
			</div>
		</div>
	</div>
</template>

<style src="./About.scss" lang="scss" scoped>
</style>
